 <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <%= link_to "История компании", about_path, class: "nav-link active side-menu" %>
            </li>
            <li class="nav-item">
              <%= link_to "Коллектив", team_path, class: "nav-link active side-menu" %>
            </li>
            <li class="nav-item">
               <%= link_to "Документы", documents_path, class: "nav-link active side-menu" %>
            </li>
          </ul>
        </div>
        <div class="col-sm-9">
          <h2>История компании</h2>
          <p>ООО “ПЕТРОСПЕЦМОНТАЖ” предлагает свои услуги 
        в области организации и производства строительных работ,
        комплексных поставок материалов для фасадных систем.
        Строительный процесс мы постарались отладить настолько быстро,
        насколько это может позволить технология производства 
        в соответствии со строительными нормами и правилами,
        при соблюдении баланса между скоростью и качеством.</p>
          <p>Результаты ранее выполненных нашей организацией работ, 
        дают нам основание уверенно смотреть в будущее, 
        которое мы видим в расширении круга наших заказчиков, 
        в максимальном удовлетворении их потребностей, 
        освоении новых технологий, совершенствовании методов работы 
        и добросовестном исполнении взятых на себя обязательств.</p>
        </div>
    </div>
  </div>