 <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <%= link_to "История компании", about_path, class: "nav-link active side-menu" %>
            </li>
            <li class="nav-item">
              <%= link_to "Коллектив", team_path, class: "nav-link active side-menu" %>
            </li>
            <li class="nav-item">
               <%= link_to "Документы", documents_path, class: "nav-link active side-menu" %>
            </li>
          </ul>
        </div>
        <div class="col-sm-9">
          <div class="row">
        <div class="col-sm-3">
          <img src="images/employees/employee1.jpg" alt="" class="rounded-circle" width="200">
        </div>
        <div class="col-sm-9">
          <h3>Иванов Иван Иванович</h3>
          <i><strong>главный инженер</strong></i>
          <p>Ответственный за техническую политику, направления технического развития предприятия в условиях рыночной экономики, пути реконструкции и технического перевооружения действующего производства, уровень специализации и диверсификации производства на перспективу.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <img src="images/employees/employee2.jpg" alt="" class="rounded-circle" width="200">
        </div>
        <div class="col-sm-9">
          <h3>Петров Петр Петрович</h3>
          <i><strong>архитектор</strong></i>
          <p>Ответственный за техническую политику, направления технического развития предприятия в условиях рыночной экономики, пути реконструкции и технического перевооружения действующего производства, уровень специализации и диверсификации производства на перспективу.</p>
        </div>
      </div>
        </div>
      </div>
      
    </div>