<div class="jumbotron">
  <div class="container">
    
    <h2>Наши заказчики</h2>

    <div class="row gallery">
      <% Customer.all.each do |customer| %>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="<%=customer.website%>" target= "_blank" >
                <%=image_tag customer.picture, class: 'img-fluid'%>
            </a>
            <p><%= customer.description %></p> 
        </div>
      <% end %>
    </div>
   
  </div>
</div>