
<div class="container reviews-container">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af7d87167386be63cfa564602ccf5001df33ff7a1f2e95d605685007127866925&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    <br>
    <h4>1. ООО "НЕВИСС-Комплекс"</h4>
    <p>Первый этап реставрации-реконструкции фондохранилища музея-заповедника Кижи (г.Петрозаводск, пл.Кирова, д.10-а) по заказу</p>

    <h4>2. ГОУ ВПО "СЗТУ"</h4>
    <p>Реставрация арки здания ГОУ ВПО "СЗТУ"; работы по защите кабельных сетей; ремонт помещений в здании по адресу Санкт-Петербург, Миллионная ул, д.6; ремонт кровли, водосточных труб и устранение последствий протечек в здании по адресу: г. Кронштадт, Якорная пл., д.1, лит.А.</p>

    <h4>3. МО Виллозское сельское поселение </h4>
    <p>Проект Генерального плана МО Виллозское сельское поселение; составление смет и технического задания на планируемые Заказчиком  ремонтные (строительные) работы; технический надзор за проводимыми работами; обследование технического состояния здания; разработка проектной документации по заказу Местной администрации МО Виллозское сельское поселение.</p>

    <h4>4. ООО "РГС Недвижимость"</h4>
    <p>Комплекс работ по капитальному ремонту нежилого помещения на 3 этаже по адресу: Санкт-Петербург, Диагональная ул., д. 4, корп. 2, пом.4Н, лит.Б для ООО "РГС Недвижимость"</p>

    <h4>5. ФГОУ СПб ГУГА</h4>
    <p>Разработка проектного решения по благоустройству территории студенческого городка ФГОУ СПб ГУГА; услуги по инженерному сопровождению проекта; работы по ремонту помещений в здании по адресу: Санкт-Петербург, ул. Пилотов, д.38; ремонтные работы в общежитии по адресу: г. Санкт-Петербург, ул. Вертолетная, д. 13 корп.1 по заказу ФГОУ СПб ГУГА.</p>

    <h4>6. МУЗ «Городская поликлиника № 5» г. Петрозаводск</h4>
    <p>Ремонт помещений клинико-диагностической лаборатории МУЗ «Городская поликлиника № 5» г. Петрозаводск, пр. Лесной, д.40, блок «В» по заказу Администрации Петрозаводского городского округа.</p>

    <h4>7. ФГУП "Госкорпорация по ОрВД"</h4>
    <p>Комплекс услуг по подготовке, оформлению и получению порубочных билетов на снос зеленых насаждений, кустарников, деревьев на объектах Заказчика для ФГУП "Госкорпорация по ОрВД".</p>

    <h4>8. ООО "ЮНИПАК"</h4>
    <p>Работы по замене фанкойлов кассетного типа и запорной арматуры на внутренних блоках системы кондиционирования, расположенных  в помещении, по адресу: Санкт-Петербург, поселок Шушары, улица Мира дом №7 по заказу ООО "ЮНИПАК".</p>

    <h4>9. Высшая Банковская Школа СПб</h4>
    <p>Разработка проектно-сметной документации по реконструкции объекта "Блок учебно-производственных мастерских здания ГОУ СПО колледжа "Высшей банковской школы СПб". Санкт-Петербург, Учительская улица, д.1.</p>

    <h4>10. МУЗ "Городская поликлиника №5</h4>
    <p>Выполнение работ по ремонту клинико-диагностической лаборатории МУЗ "Городская поликлиника №5" по адресу: г.Петрозаводск, пр. Лесной, д. 40.</p>

    <h4>11. Поселок Шушары</h4>
    <p>Работы по техническому обслуживанию климатического оборудования, установленного по адресу: Санкт-Петербург,  поселок Шушары, улица Мира дом №7.</p>

    <h4>12. Здание дальнего приводного радиомаяка-100 правый+ПРЦ ВПП 1</h4>
    <p>Планировочные работы на территории объекта «Здание дальнего приводного радиомаяка-100 правый+ПРЦ  ВПП 1», Санкт-Петербург, Волхонское шоссе, д. 111, к. 3, лит. А.</p>

    <h4>13. ООО "Би Нитрон"</h4>
    <p>Работы по техническому обследованию и оформлению проекта перепланировки нежилых помещений, расположенных по адресу: СПб., Вилленский пер., д.4 по заказу.</p>

    <h4>14. ГОУВПО "СЗТУ"</h4>
    <p>Выполнение противоаварийных реставрационных работ по ремонту лицевого фасада здания по адресу: г. Санкт-Петербург, ул. Миллионная, д. 5; работы по ремонту помещений в г. Кингисепп, ул. Карла Маркса, д. 63. по заказу ГОУВПО "СЗТУ".</p>

    <h4>15. ОАО «Большой Гостиный Двор»</h4>
    <p>Работы по реставрационному ремонту парапетных столбиков и решёток на Перинной и Ломоносовской линиях  ОАО «Большой Гостиный Двор» по адресу: г. Санкт-Петербург, Невский пр., д. 35.</p>

    <h4>16. ПК 5 Микрон</h4>
    <p>Услуги по техническому надзору за строительством Производственного комплекса с пристроенным административно-бытовым корпусом (ПК 5 Микрон) по адресу: Россия, Ленинградская область, г. Гатчина, Красносельское шоссе, д.16, корпус 2.</p>

    <h4>17. Магазин Пятерочка</h4>
    <p>Строительство магазинов «Пятерочка» №106 и №149  в СПб,  и № 162 в г.Всеволожск</p>

    <h4>Завод "Ниссан"</h4>
    <p>Работы по устройству железобетонных конструкций, ростверков и колон, Строительство  II очереди Завода Ниссан, СПб,. р-н. Каменка.</p>

    <h4>Киностудия RWS</h4>
    <p>Реконструкция производственных корпусов под киностудию RWS, в СПб, ул. Хрулева, 9.</p>

    <h4>Завод «Измерон»</h4>
    <p>Комплексная реконструкция производственных корпусов завода «Измерон» под АБК ГУВД СПб., Новгородская, д.13.</p>

    <h4>Гостиница "Ирбис"</h4>
    <p>Строительство гостиницы «ИРБИС», СПб, Лиговский пр, 54</p>
    
    <h4>Бизнес-центр «Президент»</h4>
    <p>Вентилируемые фасады из натурального камня здания бизнес-центра «Президент» Представительство ООО «РГС  Недвижимость», СПб, Ушаковская набережная, д. 5А</p>
   


Реконструкция Финляндского вокзала с внедрением АСКОПП,
Строительство павильонов ж/д вокзала «Удельная» с внедрением АСКОПП
Строительство павильонов ж/д вокзала «Старая Деревня» с внедрением АСКОПП
Строительство пассажирских павильонов ж/д ст.«Подсолнечная» с внедрением АСКОПП, г.Солнечногорск
Проектирование и строительство здания вокзала под АСКОПП на ж/д. станции «Тверь», г.Тверь
Проектирование и подготовка под строительство АСКОПП ж/д станция «Клин», г.Клин
Комплексная реконструкция инженерных сетей под внедрение систем автоматического контроля доступа (АСКОПП, АСКП), СПб, Финляндский вокзал, ж/д. ст. «Удельная», ж/д. ст. «Старая Деревня», аэропорт «Пулково-1», г. Солнечногорск ж/д ст.«Подсолнечная», г.Тверь ж/д станция «Тверь»
Реставрация
Реставрационные и ремонтные работы ОАО «Большой Гостиный Двор»
Реставрация и противоаварийный ремонт зданий инженерные сети  ГОУ ВПО «Северо-Западный заочный технический университет», СПб, Миллионная ул., дома №№5, 6
Выполнение работ по реконструкции(приспособлению) здания бывших ремесленных мастерских под фондохранилище  ФГУК «Государственный историко-архитектурный и этнический музей-заповедник «Кижи» г.Петрозаводск, л.Кирова, дом №10а.
Реставрация фасада жд вокзала «Удельная».

Дорожные работы, благоустройство.
Строительство платной автомобильной парковки аэропорта «Пулково-1» с внедрением АСКП
Проект  и строительство «Некоммерческой парковки автотранспорта» и автомобильных гаражей в  г. СПб, Ушаковская набережная, д. 5А.
Строительство перехватывающей парковки, СПб, Синопская наб., 2
Капитальный ремонт дорожного покрытия МУ «Единая служба заказчика» ВР ЛО Дер. Юкки, ул. Сосновая, ул. Пионерская до ул. Совхозной, дер. Дранишники, ул. Лесная
Благоустройство внутри-дворовых территорий по ул. Федюнинского г. Ломоносов.
Строительство спортивных площадок в МО Купчинское г СПб. 
Строительство школьных спортивных площадок ул. Пархоменко 17.

Объекты социального значения
НИДОИ им. Турнера реконструкция ремонтные работы в лечебных корпусах, СПб, г.Пушкин
СПб ГУЗ «Городская многопрофильная больница№2» г. СПб, Учебный пер. дом №5 Демонтажные, сантехнические,  ремонтные работы, СПб, Учебный пер. дом №5
ГОУ СПО «Высшая Банковская Школа» Услуги по обследованию технического состояния здания учебно-производственных мастерских, проектирование реконструкции здания мастерских под учебный корпус, СПб, ул. Учительская дом №1
Войсковая часть 6717 штаб СЗОВВ, Капитальный ремонт системы сигнализации и видеонаблюдения помещения оперативного дежурного управления
ФГУН НИИЭМ имени «Пастера» Роспотребнадзора Ремонтно-строительные работы, СПб, ул. Мира, д.14
Разработка проектного решения по благоустройству территории студенческого городка ФГОУ СПб ГУГА; услуги по инженерному сопровождению проекта; работы по ремонту помещений в здании по адресу: Санкт-Петербург, ул. Пилотов, д.38; ремонтные работы в общежитии по адресу: г. Санкт-Петербург, ул. Вертолетная, д. 13 корп.1 по заказу ФГОУ СПб ГУГА.
Планировочные работы на территории объекта «Здание дальнего приводного радиомаяка-100 правый+ПРЦ  ВПП 1», Санкт-Петербург, Волхонское шоссе, д. 111, к. 3, лит. А. 
Проект Генерального плана МО Виллозское сельское поселение; составление смет и технического задания на планируемые Заказчиком  ремонтные (строительные) работы; технический надзор за проводимыми работами; обследование технического состояния здания; разработка проектной документации по заказу Местной администрации МО Виллозское сельское поселение.
Ремонт помещений клинико-диагностической лаборатории МУЗ «Городская поликлиника № 5» г. Петрозаводск, пр. Лесной, д.40, блок «В» по заказу Администрации Петрозаводского городского округа.
Ремонтные работы в ожоговом центре СПб ГУЗ «Детская городская больница № 1», СПб, ул. Авангардная, д.14.
Перепрофилирование помещений под специфику банковской деятельности
ЗАО АКБ   «Русь-Банк», СПб филиал Ремонтно-строительные работы по переоборудованию помещения СПб, Конная ,д. 13, литер А , пом. 2Н
ЗАО АКБ   «Банк Санкт-Петербург» проектирование и перепрофилирование помещений под нужды банка, СПб, Коломяжский пр, д.15, Комендантский пр., д. 17
ЗАО АКБ   «Городской Клиентский банк», Проект перепрофилирования помещений под нужды банка, СПб, Невский пр. 37.


</div>