
<div class="container reviews-container">
    <h4>1. ООО "НЕВИСС-Комплекс"</h4>
    <p>Первый этап реставрации-реконструкции фондохранилища музея-заповедника Кижи (г.Петрозаводск, пл.Кирова, д.10-а) по заказу</p>
    <h4>2. ГОУ ВПО "СЗТУ"</h4>
    <p>Реставрация арки здания ГОУ ВПО "СЗТУ"; работы по защите кабельных сетей; ремонт помещений в здании по адресу Санкт-Петербург, Миллионная ул, д.6; ремонт кровли, водосточных труб и устранение последствий протечек в здании по адресу: г. Санкт-Петербург, г. Кронштадт, Якорная пл., д.1, лит.А.</p>
    <h4>3. МО Виллозское сельское поселение </h4>
    <p>Проект Генерального плана МО Виллозское сельское поселение; составление смет и технического задания на планируемые Заказчиком  ремонтные (строительные) работы; технический надзор за проводимыми работами; обследование технического состояния здания; разработка проектной документации по заказу Местной администрации МО Виллозское сельское поселение.</p>
    <h4>4. ООО "РГС Недвижимость"</h4>
    <p>Комплекс работ по капитальному ремонту нежилого помещения на 3 этаже по адресу: Санкт-Петербург, Диагональная ул., д. 4, корп. 2, пом.4Н, лит.Б для ООО "РГС Недвижимость"</p>
    <h4>5. ФГОУ СПб ГУГА</h4>
    <p>Разработка проектного решения по благоустройству территории студенческого городка ФГОУ СПб ГУГА; услуги по инженерному сопровождению проекта; работы по ремонту помещений в здании по адресу: Санкт-Петербург, ул. Пилотов, д.38; ремонтные работы в общежитии по адресу: г. Санкт-Петербург, ул. Вертолетная, д. 13 корп.1 по заказу ФГОУ СПб ГУГА.</p>
    <h4>6. МУЗ «Городская поликлиника № 5» г. Петрозаводск</h4>
    <p>Ремонт помещений клинико-диагностической лаборатории МУЗ «Городская поликлиника № 5» г. Петрозаводск, пр. Лесной, д.40, блок «В» по заказу Администрации Петрозаводского городского округа.</p>



  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A17b7a0d581db125bcdb4d0e78ed395f83b19643af3dea2433d4bd1ac75525c04&amp;width=700&amp;height=400&amp;lang=en_FR&amp;scroll=true"></script>

</div>