
<div class="container reviews-container">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af7d87167386be63cfa564602ccf5001df33ff7a1f2e95d605685007127866925&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>

    <h4>1. ООО "НЕВИСС-Комплекс"</h4>
    <p>Первый этап реставрации-реконструкции фондохранилища музея-заповедника Кижи (г.Петрозаводск, пл.Кирова, д.10-а) по заказу</p>
    <h4>2. ГОУ ВПО "СЗТУ"</h4>
    <p>Реставрация арки здания ГОУ ВПО "СЗТУ"; работы по защите кабельных сетей; ремонт помещений в здании по адресу Санкт-Петербург, Миллионная ул, д.6; ремонт кровли, водосточных труб и устранение последствий протечек в здании по адресу: г. Кронштадт, Якорная пл., д.1, лит.А.</p>
    <h4>3. МО Виллозское сельское поселение </h4>
    <p>Проект Генерального плана МО Виллозское сельское поселение; составление смет и технического задания на планируемые Заказчиком  ремонтные (строительные) работы; технический надзор за проводимыми работами; обследование технического состояния здания; разработка проектной документации по заказу Местной администрации МО Виллозское сельское поселение.</p>
    <h4>4. ООО "РГС Недвижимость"</h4>
    <p>Комплекс работ по капитальному ремонту нежилого помещения на 3 этаже по адресу: Санкт-Петербург, Диагональная ул., д. 4, корп. 2, пом.4Н, лит.Б для ООО "РГС Недвижимость"</p>
    <h4>5. ФГОУ СПб ГУГА</h4>
    <p>Разработка проектного решения по благоустройству территории студенческого городка ФГОУ СПб ГУГА; услуги по инженерному сопровождению проекта; работы по ремонту помещений в здании по адресу: Санкт-Петербург, ул. Пилотов, д.38; ремонтные работы в общежитии по адресу: г. Санкт-Петербург, ул. Вертолетная, д. 13 корп.1 по заказу ФГОУ СПб ГУГА.</p>
    <h4>6. МУЗ «Городская поликлиника № 5» г. Петрозаводск</h4>
    <p>Ремонт помещений клинико-диагностической лаборатории МУЗ «Городская поликлиника № 5» г. Петрозаводск, пр. Лесной, д.40, блок «В» по заказу Администрации Петрозаводского городского округа.</p>
    <h4>7. ФГУП "Госкорпорация по ОрВД"</h4>
    <p>Комплекс услуг по подготовке, оформлению и получению порубочных билетов на снос зеленых насаждений, кустарников, деревьев на объектах Заказчика для ФГУП "Госкорпорация по ОрВД".</p>
    <h4>8. ООО "ЮНИПАК"</h4>
    <p>Работы по замене фанкойлов кассетного типа и запорной арматуры на внутренних блоках системы кондиционирования, расположенных  в помещении, по адресу: Санкт-Петербург, поселок Шушары, улица Мира дом №7 по заказу ООО "ЮНИПАК".</p>
    <h4>9. Высшая Банковская Школа СПб</h4>
    <p>Разработка проектно-сметной документации по реконструкции объекта "Блок учебно-производственных мастерских здания ГОУ СПО колледжа "Высшей банковской школы СПб". Санкт-Петербург, Учительская улица, д.1.</p>
    <h4>10. МУЗ "Городская поликлиника №5</h4>
    <p>Выполнение работ по ремонту клинико-диагностической лаборатории МУЗ "Городская поликлиника №5" по адресу: г.Петрозаводск, пр. Лесной, д. 40.</p>

</div>