
        <div class="project-container">
          <h4 data-toggle="modal" data-target="#1_bgd">Большой Гостиный Двор <i class="fa fa-picture-o show-picture" aria-hidden="true"></i></h4>
          <!-- Large modal -->
          <div class="modal fade bd-example-modal-lg" id="1_bgd" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="close-modal">×</span>
              </button>
              HELLO
              </div>
             </div>
          </div>
          <p>Невский пр-кт, 35, Санкт-Петербург, 199026</p>
        </div>

        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A17b7a0d581db125bcdb4d0e78ed395f83b19643af3dea2433d4bd1ac75525c04&amp;width=700&amp;height=400&amp;lang=en_FR&amp;scroll=true"></script>

    </div>