/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";


body{
  font-family: 'Rubik', sans-serif;
}

.dropdown-menu{
  opacity: 0.8;
  border: none !important;
  border-radius: 0 !important;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.dropdown-item.active, .dropdown-item:active{
  background-color: black;
}

.jumbotron{
  /*height: 100vh;*/
  margin-bottom: 0;
  background-color: white;
}

.container .service{
  margin-bottom: 100px;
}


.thumb {
    margin-bottom: 30px;
}

.row{
  padding-top: 20px;
}

li.services{
  display:inline;
  font-size: 1em;
}

li.services:before { content:'\25CF'; margin-right:1em; margin-left:1em; font-size: 0.8em; }

ul.center{
  text-align:center;
}


.btn-learn-more{
  display:block;
  max-width: 400px;
  background-color: #ce322d;
  transition: background-color 0.8s ease;
  border: none;
  margin-bottom: 20px;
  border-radius: 0;
}

.btn-learn-more:hover{
  display:block;
  max-width: 400px;
  background-color: black;
  border: none;
  margin-bottom: 20px;
}

p#frontpage{
  font-size: 1.5em;
  text-align: center;
}

#red-border{
  display: block;
  min-height: 10px;
  background-color: #ce322d;
}

.container-fluid{
  padding-bottom:15px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #ce322d;
}

.col-md-6 .col-lg-6{
  padding-right: 2rem;
}

.footer-text{
  color: white;
  font-size: 0.8em;
}

a.footer-icon{
  color: white;
  margin-right: 40px;
  transition: color 0.8s ease;
}

a.footer-icon:hover{
  color: black;
}
/* Side menu styles
-------------------------------------------------- */
a.nav-link.side-menu{
  display: block;
  margin-bottom: 0.5rem;
  background-color: #f7f7f7;
  color: black;
  padding: 3px 3px 3px 10px;
}

a.nav-link.side-menu:hover{
  background-color: #d3d3d3;
}

a.nav-link.side-menu:active{
  background-color: black;
  color: white;
}


a.nav-link.side-menu.active{
  background-color: #d3d3d3;
}

/* Modal styles
-------------------------------------------------- */
span.close-modal{
  padding: 0 1rem;
  float: right;
}

.show-picture:hover{
  color: #ce322d;
  cursor: pointer;
}


.inline{
  display: inline-block;
}

.company-name{
  color: #ce322d;
  font-size: 3rem;
  vertical-align: middle;
}


.btn-primary{
  background-color: #ce322d;
  border: none
}

.btn-primary:hover{
  background-color: black;
}

.contact-form{
  padding: 20px;
}

.contact-button, .contact-button:hover{
  z-index: 1000;
  position:absolute;
  top:0;
  right:0;
  border: none;
}
.contact-button-small{
  visibility: hidden;
  position:absolute;
  top:0;
  right:0;
  border: none;
}

.reviews-container{
  padding-top: 2em;
  padding-bottom: 1em;
}

.map{
  max-width: 100%;
}

@media (max-width: 575px) {
  .company-name{
    display:none;
  }
  .contact-button{
    display:none;
  }
  .contact-button-small{
    visibility: visible;
  }
  
}

@media (min-width: 992px) {
  .map{
    max-width: 50%;
  }
}



