// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item{
  margin-bottom: 20px;
}

.image-wrapper {
  overflow: hidden;
  width: 100%;
}
img {
  max-width: 100%;
  transition: transform 0.8s ease-in-out;
}
.image-wrapper:hover img {
  transform: scale(1.2);
  transition: transform 0.8s ease-in-out;
}