// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//CAROUSEL
.carousel-inner.services{
  background-color: grey;
}

.carousel-item.services{
  height: 300px;
  wifth: auto;
}