// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//CAROUSEL
.carousel-inner.services{
  background-color: grey;
}
.carousel-control-center{
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  left: 15%;
  right: 15%;
}

.carousel-control-center:focus, .carousel-control-center:hover{
  color: transparent;
  outline: none;
}

.modal-lg{
  max-width: 80%;
}
