
        <div class="project-container">
          <h4 data-toggle="modal" data-target="#bgd">Большой Гостиный Двор <i class="fa fa-picture-o show-picture" aria-hidden="true"></i></h4>
          <!-- Large modal -->
          <div class="modal fade bd-example-modal-lg" id="bgd" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="close-modal">×</span>
              </button>
               <iframe src="/app/assets/documents/1_eba.pdf"></iframe>
              </div>
             </div>
          </div>
         
        </div>

    </div>